# Use this with pip3, as follows
# pip3 install -r requirements.txt
# If run on Linux, in case permission is denied, use
# pip3 install --user -r requirements.txt
# Can't run pip3 install? Grant reading permissions!
# sudo chmod -R go+rX /usr/local/lib/python3.5/dist-packages

discord.py
python-dateutil
cleverwrap
